 {% load static %}
 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
 <body>
 

 <div class="col-md-4" style="padding-left: 220px">
        <img src="{% static 'recognition/img/graph1.png' %}"  style="width:500px;height:500px ;" />
</div>


 <div class="col-md-4" style="padding-left: 220px">
        <img src="{% static 'recognition/img/graph2.png' %}"  style="width:500px;height:500px ;" />
    </div>

    <div class="col-md-4" style="padding-left: 220px">
        <img src="{% static 'recognition/img/graph3.png' %}"  style="width:500px;height:500px ;" />
    </div>
 </body>
 </body>
 </html>

 